*.tgz
*~
.*.swp
\#*

/build
/local
cov-int

*.data
*.dll
*.exe
*.exp
*.fas
*.ilk
*.implib
*.lib
*.manifest
*.obj
*.pdb
*.fasl


msvc/help.doc
msvc/*.c
msvc/*.tmp
msvc/*.bat
msvc/*.lsp
msvc/c/*.[ch]
msvc/clos/*.lsp
msvc/clos/*.[ch]
msvc/cmp/*.lsp
msvc/cmp/*.[ch]
msvc/ecl/*.h
msvc/ecl/gc/*.h
msvc/ecl/gc/private/*.h
msvc/ext/*.[ch]
msvc/gc/gc_cpp.cpp
msvc/gmp/msvc-build
msvc/gmp/*.[ch]
msvc/lsp/*.lsp
msvc/lsp/*.[ch]
msvc/package-locks.asd

BUILD-STAMP
MODULES
/Makefile

src/autom4te.cache
src/config.log

regressions/*.lsp
regressions/eformat-tests/*.txt
*.aux
*.cp*
*.fn*
*.log
*.toc
*.tp*
*.vr*
/examples/ecl_qt/qt/ecl_qtdemo
/examples/ecl_qt/hello-lisp-system--all-systems.fasb
/examples/ecl_qt/lisp-envi.a
/examples/ecl_qt/qt/.qmake.stash
/examples/ecl_qt/qt/Makefile
*fasc
*.orig

# msvc
/msvc/encodings/
/msvc/ecl/atomic_ops/
/msvc/ecl/impl/
/msvc/ecl/*.h
/msvc/clos/
/msvc/cmp.asd
/msvc/cmp/
/msvc/deflate.asd
/msvc/defsystem.asd
/msvc/ecl-cdb.asd
/msvc/ecl-curl.asd
/msvc/ecl-help.asd
/msvc/ecl-quicklisp.asd
/msvc/ecl.ico
/msvc/ecl.rc
/msvc/ecl.res
/msvc/ext/
/msvc/lsp/
/msvc/package/
/msvc/prebuilt-asdf.asd
/msvc/profile.asd
/msvc/ql-minitar.asd
/msvc/rt.asd
/msvc/sb-bsd-sockets.asd
/msvc/sockets.asd
/src/tests/aux-compiler.0058-coerce.lsp
/publications/
/src/cmp/notes.md
